.toolbar-oriented .toolbar-bar .toolbar-tab.tome-git-toolbar-tab {
  float: right;
}

.tome-git-toolbar-tab .toolbar-icon::before {
  background-image: url(../assets/ok.svg);
}

.tome-git-toolbar-tab .toolbar-icon.needs-sync::before {
  background-image: url(../assets/sync.svg);
}
